h1 {
  color: blue;
}

h2 {
  color: rgb(94, 220, 94);
}

h3 {
  color: rgb(206, 15, 206);
}

button {
  background-color: rgb(247, 26, 26);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(104, 31, 46);
}
